@import url(http://fonts.googleapis.com/css?family=Open+Sans:800,700,600,400,300);
html,
body {
  font: 400 100%/150% 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#main {
  height: 100%;
  width: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 100;
  color: #000;
  font: 400 18px/150% 'Open Sans', sans-serif;
  text-transform: uppercase;
}
footer a {
  color: #000;
}
.video-container {
  padding: 10px 5px;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.qoute blockquote {
  font-size: 1.5em;
  color: #888;
  font-weight: 300;
  line-height: 150%;
  padding: 10px;
  margin: 10px;
}
.qoute span {
  font: 300 0.8em/150% 'Open Sans', sans-serif;
  color: #000;
  text-transform: uppercase;
}
.qoute span:before {
  content: "- ";
}
.qoute img {
  margin-left: 1em;
  float: right;
}
.qoute p {
  font: 300 0.9em/150% 'Open Sans', sans-serif;
}
.bb-bookblock {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.bb-page {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
}
.bb-vertical .bb-page {
  width: 50%;
  height: 100%;
  left: 50%;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  transform-origin: left center;
}
.bb-horizontal .bb-page {
  width: 100%;
  height: 50%;
  top: 50%;
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  transform-origin: center top;
}
.bb-page > div,
.bb-outer,
.bb-content,
.bb-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
}
.bb-outer {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.bb-vertical .bb-content {
  width: 200%;
}
.bb-horizontal .bb-content {
  height: 200%;
}
.bb-page > div {
  width: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.bb-page > div:not(:only-child) {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.bb-vertical .bb-back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.bb-horizontal .bb-back {
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.bb-outer {
  width: 100%;
  overflow: hidden;
  z-index: 999;
}
.bb-overlay,
.bb-flipoverlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.bb-flipoverlay {
  background-color: rgba(0, 0, 0, 0.2);
}
/* */
.bb-bookblock.bb-vertical > div.bb-page:first-child,
.bb-bookblock.bb-vertical > div.bb-page:first-child .bb-back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.bb-bookblock.bb-horizontal > div.bb-page:first-child,
.bb-bookblock.bb-horizontal > div.bb-page:first-child .bb-back {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
/* Content display */
.bb-vertical .bb-front .bb-content {
  left: -100%;
}
.bb-horizontal .bb-front .bb-content {
  top: -100%;
}
/* Flipping classes */
.bb-vertical .bb-flip-next,
.bb-vertical .bb-flip-initial {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.bb-vertical .bb-flip-prev {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.bb-horizontal .bb-flip-next,
.bb-horizontal .bb-flip-initial {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.bb-horizontal .bb-flip-prev {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.bb-vertical .bb-flip-next-end {
  -webkit-transform: rotateY(-15deg);
  -moz-transform: rotateY(-15deg);
  transform: rotateY(-15deg);
}
.bb-vertical .bb-flip-prev-end {
  -webkit-transform: rotateY(-165deg);
  -moz-transform: rotateY(-165deg);
  transform: rotateY(-165deg);
}
.bb-horizontal .bb-flip-next-end {
  -webkit-transform: rotateX(15deg);
  -moz-transform: rotateX(15deg);
  transform: rotateX(15deg);
}
.bb-horizontal .bb-flip-prev-end {
  -webkit-transform: rotateX(165deg);
  -moz-transform: rotateX(165deg);
  transform: rotateX(165deg);
}
.bb-item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: #fff;
}
/* No JS */
.no-js .bb-bookblock,
.no-js ul.bb-custom-grid li {
  width: auto;
  height: auto;
}
.no-js .bb-item {
  display: block;
  position: relative;
}
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}
#cboxWrapper {
  max-width: none;
}
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}
#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left;
}
#cboxContent {
  position: relative;
}
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#cboxTitle {
  margin: 0;
}
#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;
}
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}
#colorbox,
#cboxContent,
#cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: #fff;
  opacity: 0.9;
}
#colorbox {
  outline: 0;
}
#cboxContent {
  margin-top: 32px;
  overflow: visible;
  background: #000;
}
.cboxIframe {
  background: #fff;
}
#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}
#cboxLoadedContent {
  background: #000;
  padding: 1px;
}
#cboxLoadingGraphic {
  background: url(../img/loading.gif) no-repeat center center;
}
#cboxLoadingOverlay {
  background: #000;
}
#cboxTitle {
  position: absolute;
  top: -22px;
  left: 0;
  color: #000;
}
#cboxCurrent {
  position: absolute;
  top: -22px;
  right: 205px;
  text-indent: -9999px;
}
/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  background: url(../img/controls.png) no-repeat 0 0;
}
/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
  outline: 0;
}
#cboxPrevious {
  background-position: 0px 0px;
  right: 44px;
}
#cboxPrevious:hover {
  background-position: 0px -25px;
}
#cboxNext {
  background-position: -25px 0px;
  right: 22px;
}
#cboxNext:hover {
  background-position: -25px -25px;
}
#cboxClose {
  background-position: -50px 0px;
  right: 0;
}
#cboxClose:hover {
  background-position: -50px -25px;
}
.cboxSlideshow_on #cboxPrevious,
.cboxSlideshow_off #cboxPrevious {
  right: 66px;
}
.cboxSlideshow_on #cboxSlideshow {
  background-position: -75px -25px;
  right: 44px;
}
.cboxSlideshow_on #cboxSlideshow:hover {
  background-position: -100px -25px;
}
.cboxSlideshow_off #cboxSlideshow {
  background-position: -100px 0px;
  right: 44px;
}
.cboxSlideshow_off #cboxSlideshow:hover {
  background-position: -75px -25px;
}
.page-home .container-flip {
  height: 100%;
}
.page-home .bb-custom-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.page-home .bb-custom-wrapper .bb-bookblock {
  width: 100%;
  height: 100%;
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  perspective: 2000px;
}
.page-home .bb-custom-side {
  width: 50%;
  float: left;
  height: 100%;
  overflow: hidden;
  /* Centering with flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.page-home .bb-custom-side.black {
  background: #000;
}
.page-home .bb-custom-firstpage {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  text-align: center;
  margin-top: -124px;
}
.page-home .bb-custom-firstpage h1 {
  margin: 0;
  padding: 0;
  font: 800 50px/100% 'Open Sans', sans-serif;
  color: #000;
}
.page-home .bb-custom-firstpage h1 span {
  color: #fff;
}
.page-home .bb-custom-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.page-home .bb-custom-wrapper nav {
  position: absolute;
  bottom: 20px;
  padding: 0 20px;
  margin: -8px 0 0;
  text-align: center;
  width: 100%;
}
.page-home .bb-custom-wrapper nav div {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  z-index: 150;
  padding: 5px 10px;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.page-home .bb-custom-wrapper nav a {
  font: 600 16px/100% 'Open Sans', sans-serif;
  color: #000;
  text-decoration: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  padding: 4px 0;
  box-sizing: border-box;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.page-home .bb-custom-wrapper nav a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  border: 2px solid #333;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.page-home .content-container,
.page-home .video-container {
  padding: 20px;
  position: relative;
  width: 100%;
}
.page-home .content-container figure,
.page-home .video-container figure {
  padding: 10px;
  border: 4px solid #fff;
  padding: 8px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.page-home .content-container figure a,
.page-home .video-container figure a {
  display: block;
}
.page-home .content-container figure a:after,
.page-home .video-container figure a:after {
  content: "";
  width: 100px;
  height: 100px;
  display: block;
  background: url(../img/play.png) no-repeat center;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.page-home .content-container figure img,
.page-home .video-container figure img {
  max-width: 100%;
}
.page-home .content-container:hover figure,
.page-home .video-container:hover figure {
  border: 4px solid #000;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.page-home .content-container:hover a:after,
.page-home .video-container:hover a:after {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.page-home .content-container:hover .brotrip,
.page-home .video-container:hover .brotrip {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
.page-home .content-container .brotrip,
.page-home .video-container .brotrip {
  position: absolute;
  top: 40px;
  left: 40px;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
.page-home .content-container .brotrip a,
.page-home .video-container .brotrip a {
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 9px;
  position: relative;
}
.page-home .content-container .brotrip a img,
.page-home .video-container .brotrip a img {
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.page-home .content-container .brotrip a span,
.page-home .video-container .brotrip a span {
  position: absolute;
  bottom: -25px;
  width: 200%;
  font-size: 9px;
  left: 0;
  line-height: 120%;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  color: #333;
  padding: 5px;
  margin-left: -50%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
.page-home .content-container .brotrip a:hover span,
.page-home .video-container .brotrip a:hover span {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
.page-home .no-js .bb-custom-wrapper {
  height: auto;
}
.page-home .no-js .bb-custom-content {
  height: 470px;
}
/*# sourceMappingURL=brochallange.css.map */